.customerreview-container{
    width: 100%;
    text-align: center;
}
.customerreview-container button{
    width: 200px;
    margin: 0 auto;
    background-color: orange;
    border: 0;
    border-radius: 10px;
    padding: 10px 20px;
}
.customerreview-card{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-bottom: 40px;
}