.navbar-container{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav-items{
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.link{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
}